﻿@{
    ViewBag.Title = "About BACCHUS auction web app";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
        http://localhost:54284/api/bids/
</div>
<div>
    http://localhost:54284/api/bids/?finished=true
</div>
<div>
    http://localhost:54284/api/bids/?finished=false
</div>

<div>
    http://localhost:54284/api/users/
</div>
<div>
    http://localhost:54284/api/users/:id
</div>
<div>
    http://localhost:54284/api/users/?fullname=
</div>

<div>
    http://localhost:54284/api/products/
</div>
<div>
    http://localhost:54284/api/products/:id
</div>
<div>
    http://localhost:54284/api/products/bidding/true
</div>
<div>
    http://localhost:54284/api/products/bidding/false
</div>
<div>
    http://localhost:54284/api/products/categories/
</div>
<div>
    http://localhost:54284/api/products/categories/:categoryId
</div>


<h3>How to deploy:</h3>

<div>
    <a href="https://docs.microsoft.com/en-us/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-10">
        https://docs.microsoft.com/en-us/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-10
    </a>
</div>