﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}@{
    ViewBag.Title = "Finished Auctions";
}
@section scripts {
    @Scripts.Render("~/bundles/finAuctions")
}


<div class="page-header">
    <h1>
        <span>@ViewBag.Title</span>
        <span data-bind="visible: userFullName"><span class="usrname" data-bind="text : userFullName"></span></span>
    </h1>
</div>

<div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Categories</h2>
            </div>
            <div class="panel-body">
                <!-- ko if:categoryFilter() -->
                <button class="btn" data-bind="click: resetCategories" style="float:left">
                    Reset
                </button>
                <div class="clearfix"></div>
                <!-- /ko -->
                <ul class="list-unstyled" data-bind="foreach: categories">
                    <li>
                        <strong>
                            <a href="#" data-bind="click: $parent.showOnlyilteredCategory">
                                <span data-bind="text: categoryId"></span>
                            </a>
                        </strong>
                        <small>
                        </small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
    </div>


@**@

    <ul class="list-unstyled" data-bind="foreach: finishedAuctions">
       <li>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title bold_text blue_text" data-bind="text: productName"></h2>
                    </div>
                    <table class="table">
                        <tr><td>Category</td><td data-bind="text: productCategory"></td></tr>
                        <tr><td>Description</td><td data-bind="text: productDescription"></td></tr>

                        <tr><td>Bid time</td><td data-bind="text: bidTime"></td></tr>
                        <tr class="alert-danger"><td>Price</td><td data-bind="text: bidPrice"></td></tr>
                        <tr><td>Owner</td><td data-bind="text: userFullName"></td></tr>
                        <tr><td>Unique id</td><td data-bind="text: uniqueId"></td></tr>

                    </table>



                </div>
            </div>
        </li>
    </ul>
</div>
