﻿@{
    ViewBag.Title = "BACCHUS";
}
@section scripts {
    @Scripts.Render("~/bundles/app")
}


<div class="page-header">
    <h1>
         <span>Auctions</span>
         <span data-bind="visible: userFullName"><span class="usrname" data-bind="text : userFullName"></span></span>
    </h1>
</div>

<div class="row">
    
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Categories</h2>
                </div>
                <div class="panel-body">
                    <!-- ko if:categoryFilter() -->
                    <button class="btn" data-bind="click: resetCategories" style="float:left">
                        Reset
                    </button>
                    <div class="clearfix"></div>
                    <!-- /ko -->
                    <ul class="list-unstyled" data-bind="foreach: categories">
                        <li>
                            <strong>
                                <a href="#" data-bind="click: $parent.showOnlyilteredCategory">
                                    <span data-bind="text: categoryId"></span>
                                </a>
                            </strong>
                            <small>
                            </small>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>
        </div>



        <ul class="list-unstyled" data-bind="foreach: bids">
            <li>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title bold_text blue_text" data-bind="text: productName"></h2>
                        </div>
                        <table class="table">
                            <tr><td>Category</td><td data-bind="text: productCategory"></td></tr>
                            <tr><td>Description</td><td data-bind="text: productDescription"></td></tr>
                            <tr>
                                <td class="bold_text" data-bind="click: $parent.notify">Remining time</td>                          
                                <td class="text-danger bold_text" data-bind="text: timeRemined"></td>
                            </tr>
                            <tr><td>Bidding ends at</td><td data-bind="text: biddingEndDate"></td></tr>
                            <tr>
                                <td colspan="2">
                                    <div class="col-sm-10 inline">
                                        <div class="alert alert-success" data-bind="visible: success"><p data-bind="text: success"></p></div>
                                        <div class="alert alert-warning" data-bind="visible: exists"><p data-bind="text: exists"></p></div>
                                        <input required id="price" data-bind="value: price" type="number" placeholder="€"  min=0 class="form-control narrow_control bid_control" />
                                        <!-- ko if:price() --> <!-- /ko  -->
                                        <button type="submit" inactive data-bind="click: $parent.addBid, enable: price()" class="btn btn-default inline_btn bid_control">Make a bid</button>
                                       
                                    </div>
                                </td>
                            </tr>
                        </table>

                                
                           
                    </div>
                </div>
            </li>
        </ul>
    </div>
