﻿@{
    ViewBag.Title = "BACCHUS User Account";
}
@section scripts {
    @Scripts.Render("~/bundles/user")
}


<div class="page-header">
    <h1>
        <span>User account</span>
        <span data-bind="visible: userFullName"><span class="usrname" data-bind="text : userFullName"></span></span>
    </h1>
</div>

<div class="row">

    <div class="alert alert-danger" data-bind="visible: error"><p data-bind="text: error"></p></div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"> Register BACCHUS user account:</h2>
                <span data-bind="visible: userFullName"><span class="usrname" data-bind="text : userFullName"></span></span>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" data-bind="submit: registerUser">
                    <div class="form-group" data-bind="with: newUser">
                        <div>First name:</div>
                        <input id="firstName" type="text" class="form-control" data-bind="value:firstName" />

                        <div>Last name:</div>
                        <input id="lastName" type="text" class="form-control" data-bind="value:lastName" />
                    </div>
                    <button type="submit" class="btn btn-default">Register</button>
                </form>

                <div data-bind="with: newUser">
                    <div class="alert alert-success" data-bind="visible: success"><p data-bind="text: success"></p></div>
                    <div class="alert alert-warning" data-bind="visible: exists"><p data-bind="text: exists"></p></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Login to BACCHUS user account:</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: loginUser">
                    <div class="form-group" data-bind="with: newUser">
                        <div>First name:</div>
                        <input id="get_firstName" type="text" class="form-control" data-bind="value:firstName"  />
                        <div>Last name:</div>
                        <input id="get_lastName" type="text" class="form-control" data-bind="value:lastName" />
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>
                <div data-bind="with: newUser">
                    <div class="alert alert-error" data-bind="visible: error"><p data-bind="text: error"></p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Log out</h2>
            </div>

            <div class="panel-body">
                    <button type="submit" class="btn btn-default" data-bind="click: logout">Log out</button>
            </div>
        </div>
    </div>

</div>
