﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bold_text {
    font-weight: bold;
}

.blue_text {
    color: teal;
}

.bid_control {
    background-color: lightsteelblue;
}

.narrow_control {
    width: 67%;
    margin-right: 3%;
    float: left;
}
.inline_btn {
    float: left;
    width: 30%;
    text-align: center;
    padding: 6px 6px 6px 5px;
}

.columnwisefloat {
    height: 120px;
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
}
.error {
    width: 80%;
    float: left;
}
.error::after, .clear {
    clear: both;
}

.usrname {
    margin-left: 5%;
    font-size: .7em;
    color: steelblue;
}
